<app-auto-complete
  [table]="table"
  (select)="onSelect($event)"
  (touch)="onTouch()"></app-auto-complete>
<div *ngIf="hasSelection" class='flex-container flex-center flex-column card-dimensions card  width-100'>
  <div>
    <span class="label">Name: </span>
    {{(city$ | async).name}}</div>
  <div>
    <span class="label">Country: </span>
    {{(city$ | async).country}}</div>
  <div>
    <span class="label">Sub Country: </span>
    {{(city$ | async).subCountry}}</div>
  <div>
    <span class="label">Geo Name ID: </span>
    {{(city$ | async).geoNameId}}
  </div>
</div>
